body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    /* width: 200px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b8859f;
    /* 纯蓝粉色背景 */
}

.login-form {
    width: 200px;
    height: 350px;
    padding: 20px;
    background-color: #ffffff;
    /* 表单背景色为白色 */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form header {
    margin-bottom: 20px;
}

.login-form section label {
    margin-bottom: 10px;
}

.login-form section .border {
    height: 2px;
    background-color: #ccc;
    margin-top: -10px;
}

.login-form footer {
    margin-top: 20px;
    text-align: center;
}

.login-form footer a {
    text-decoration: none;
    color: #007bff;
}

.login-form footer a:hover {
    text-decoration: underline;
}

/* #loginButton {
    margin: 18px auto;
    left: 50%;
} */